.toolbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: all .3s ease-in-out;
    z-index: 1;
    height: 64px;
}

.toolbar.headroom--unpinned {
    transform: translateY(-64px);
}

.toolbar-clear {
    margin-top: 64px;
}

.sidenav {
    position: fixed;
    top: 0;
    bottom: 0;
}

.md-toolbar-tools h1 {
    font-size: 30px;
}

.md-toolbar-tools h2 {
    font-size: 28px;
}

.barname {
    font-size: 35px;
    color: black;
    padding: 10px;
    margin: 0 auto;
}
.toolbar-button{
    display: block;
    text-align: left;
    font-size: 25px;
    text-transform: none;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif; 
}
.Home {
    color: black;
    font-size: 29px;
}
.menu-button {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 35px;
    border-bottom: 3px solid cyan;
    text-transform: none;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif; 
}