.description {
    font-size: 25px;
    margin-bottom: 15px;
    padding: 5px;
}
.game-title p {
    font-size: 18px;
    margin-left: 200px;
}
.game-title h1 {
    font-size: 18px;
    margin-left: 200px;
}
.image img {
    width: 175px;
    height: 125px
}
.game {
    border-bottom: 2px solid cyan;
    padding-bottom: 100px;
    min-height: 110px; 
}
.game .image {
    position: absolute;
}