<link rel="stylesheet" href="app/map-menu.css">


<div ng-controller="MapMenuController as mapMenu">

    <div ng-if="mapMenu.menuOnly">
        <headroom class="toolbar">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <div style="padding: 15px;" ui-sref="map-list">
                        <i class="fa fa-arrow-left"></i>
                    </div>
                    <h1>{{mapMenu.theMap.displayName}}</h1>
                </div>
            </md-toolbar>
        </headroom>
        <div class="fancyMenu">
            <div ng-repeat="menuItem in mapMenu.menuItems" class="menuItem" ui-sref="{{menuItem.route}}">
                <div class="description">
                    <div class="name">{{menuItem.displayName}}</div>
                </div>
            </div>
        </div>
    </div>





    <div ng-if="!mapMenu.menuOnly">
        <headroom class="toolbar">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <div ng-click="mapMenu.ToggleMenu()" style="padding: 15px;">
                        <i class="fa fa-bars"></i>
                    </div>
                    <h2>{{mapMenu.selectedScreen}}</h1>
                </div>
            </md-toolbar>
        </headroom>

        <md-sidenav class="sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left">
            <md-toolbar>
                <div class="md-toolbar-tools">

                </div>
            </md-toolbar>
            <md-content class="md-padding">
                <div class="Home" ui-sref="map-list"><i class="fa fa-home"></i> Back to Map List</div>
                <hr>
                <div ng-repeat="menuItem in mapMenu.menuItems" class="menuItem" ui-sref="{{menuItem.route}}" ng-click="mapMenu.ToggleMenu()">
                    <div class="description">
                        <div class="barname">{{menuItem.displayName}}</div>
                    </div>
                </div>
            </md-content>
        </md-sidenav>

        <div class="toolbar-clear">
            <div ui-view></div>
        </div>
    </div>
   
</div>