<div ng-controller="MapMenuController as mapMenu">

    <div ng-if="mapMenu.menuOnly">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <i ui-sref="map-list" class="fa fa-arrow-left" style="margin-right: 15px;"></i>
                CODAW Zombie Guide
                - {{mapMenu.mapId}}
            </div>
        </md-toolbar>

        <div class="fancyMenu">
            <div ng-repeat="menuItem in mapMenu.menuItems" class="menuItem" ui-sref="{{menuItem.route}}">
                <div class="description">
                    <div class="name">{{menuItem.displayName}}</div>
                </div>
            </div>
        </div>
    </div>

    
    
    
    
    <div ng-if="!mapMenu.menuOnly">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <i ng-click="mapMenu.ToggleMenu()" class="fa fa-bars" style="margin-right: 15px;"></i> CODAW Zombie Guide
            </div>
        </md-toolbar>

        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    
                </div>
            </md-toolbar>
            <md-content class="md-padding">
                <div class="menuItem" ui-sref="map-list"><i class="fa fa-home"></i> Back to Map List</div>
                <hr>
                <div ng-repeat="menuItem in mapMenu.menuItems" class="menuItem" ui-sref="{{menuItem.route}}">
                    <div class="description">
                        <div class="name">{{menuItem.displayName}}</div>
                    </div>
                </div>
            </md-content>
        </md-sidenav>
        
        <div ui-view></div>
    </div>
</div>