<link rel="stylesheet" href="app/css/map-menu.css">


<div ng-controller="MapMenuController as mapMenu" style="margin-top: -1px; padding-top: 1px;">

    <div ng-if="mapMenu.menuOnly">
        <headroom class="toolbar">
            <md-toolbar>
                <div class="md-toolbar-tools" >
                    <md-button style="padding: 15px;" class="toolbar-button" ui-sref="map-list">
                        <i class="fa fa-arrow-left"></i>
                    </md-button>
                    <h1>{{mapMenu.theMap.displayName}}</h1>
                </div>
            </md-toolbar>
        </headroom>
        <div class="fancyMenu" style="margin-top: 64px;">
            <md-button ng-repeat="menuItem in mapMenu.menuItems" class="menu-button" ui-sref="{{menuItem.route}}">
                <div class="description" >
                    <div class="name">{{menuItem.displayName}}</div>
                </div>
            </md-button>
        </div>
    </div>

    <div ng-if="!mapMenu.menuOnly">
        <headroom class="toolbar">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button ng-click="mapMenu.ToggleMenu()" class="toolbar-button" style="padding: 15px;">
                        <i class="fa fa-bars"></i>
                    </md-button>
                    <h2>{{mapMenu.selectedScreen}}</h1>
                </div>
            </md-toolbar>
        </headroom>

        <md-sidenav class="sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left">
            <md-toolbar>
                <div class="md-toolbar-tools">

                </div>
            </md-toolbar>
            <md-content class="md-padding">
                <md-button class="Home" class="menu-button" style="color: black;"ui-sref="map-list"><i class="fa fa-home"></i> Back to Map List</md-button>
                <hr>
                <md-button ng-repeat="menuItem in mapMenu.menuItems" class="menu-button" ui-sref="{{menuItem.route}}" ng-click="mapMenu.ToggleMenu()">
                    <div class="description">
                        <div class="barname">{{menuItem.displayName}}</div>
                    </div>
                </md-button>
            </md-content>
        </md-sidenav>

        <div class="toolbar-clear">
            <div ui-view></div>
        </div>
    </div>
   
</div>