<?xml version='1.0' encoding='utf-8'?>
<widget id="com.robochris.AWZombiesGuide" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Advanced Warfare Zombies</name>
    <description>
        DAT APP
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Robochrisapps
    </author>
    <platform name="android" />
    <content src="index.html" />
    <preference name="android-build-tool" value="gradle" />

    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="handset" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#184895" />
    <preference name="StatusBarStyle" value="lightcontent" />

    <gap:plugin name="org.apache.cordova.camera" source="npm" />
    <gap:plugin name="org.apache.cordova.console" source="npm" />
    <gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />
    <gap:plugin name="org.apache.cordova.splashscreen" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" version="1.0.0" />
    <gap:plugin name="cordova-admob" source="npm" version="4.1.6" />
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" source="npm" version="0.8.4"/>
    <plugin name="com.ionic.keyboard" spec="1.0.3" source="pgb" />
    <gap:plugin name="cordova-plugin-statusbar" source="npm" />

    <icon src="icon.png" />

    <icon gap:platform="android" src="res/icon/android/icon36.png" gap:qualifier="ldpi" />
    <icon gap:platform="android" src="res/icon/android/icon48.png" gap:qualifier="mdpi" />
    <icon gap:platform="android" src="res/icon/android/icon72.png" gap:qualifier="hdpi" />
    <icon gap:platform="android" src="res/icon/android/icon96.png" gap:qualifier="xhdpi" />

    <access origin="*" />
    <engine name="android" spec="~4.1.1" />
</widget>

