html,
body {
    color: white;
    background-color: black;
    font-family: 'Lato';
}

* { 
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}


.mapimage img {
    width: 100%;
}

