<div ng-controller="weaponsController as weapon">
    <!-- categories -->
    <md-button ng-repeat="weapon in weapon.weapon" class="menu-button" ui-sref="weapon({WeaponId: weapon.WeaponId})">
        <div class="description">
            <div class="name">{{weapon.displayName}}</div>
        </div>
    </md-button>

    <!-- uncategorized weapons -->
    <md-button ng-repeat="weapon in weapon.weapons" class="menu-button" ui-sref="weapont({weapontId: weapon.weapontId})">
        <div class="description">
            <div class="name">{{weapon.displayName}}</div>
        </div>
    </md-button>
</div>