.description {
    font-size: 25px;
    margin-bottom: 15px;
    padding: 5px;
}
.title h1{
    margin-top: 10px;
    font-size: 18px;
}
.type{
    margin-top: 10px;
    font-size: 18px;
}
.stuff   {
    font-size: 18px;
    margin-left: 200px;
}
.game-title h1 {
    font-size: 18px;
    margin-left: 200px;
}
.image img {
    width: 190px;
    height: 200px
}
.game {
    border-bottom: 2px solid cyan;
    padding-bottom: 50px;
    min-height: 110px;
}
.game .image {
    position: absolute;
}