.description {
    font-size: 20px;
    margin-bottom: 35px;
    padding: 5px;
}

.game-title h1 {
    font-size: 18px;
    margin-left: 200px;
    color: white;
}

.image img {
    width: 175px;
    height: 125px
}

.step {
font-size: 20px;
    border-bottom: 2px solid cyan;
}


.game {
    border-bottom: 2px solid cyan;
    padding-bottom: 50px;
    min-height: 110px;
    
}

.game .image {
    position: absolute;
}