.name {
    
font-size: 35px;
border-bottom: 3px solid cyan;
    color: white;
    padding: 10px;
        margin: 0 auto;
}

.md-toolbar-tools h1{
font-size: 30px;
}


.md-toolbar-tools h2{
    font-size: 28px;
    
    
}

.barname {
    
font-size: 35px;
border-bottom: 3px solid cyan;
    color: black;
    padding: 10px;
        margin: 0 auto;
}